@CHARSET "UTF-8";
#form {
	width: 780px;
	margin: 20px auto 0;
}

p span,
dt span {
	color: #ff0000;
}
dd .info{
	font-size: 70%;
	padding: 10px;
}

.info {
	font-size: 20px;
	margin-top: 5px;
}

dl {
	margin-bottom: 1px;
	font-size: 20px;
	text-align: left;
}

dl dt {
	width: 300px;
	height: 34px;
	line-height: 34px;
	text-indent: 10px;
	float: left;
	color: #fff;
	background: #324b41;
}

dl dd {
	width: 476px;
	height: 30px;
	text-indent: 10px;
	float: right;
	border: 2px solid #324b41;
}

dl dd > select {
	margin-top: 4px;
	font-size: 15px;
}

/*2016.08.22　服部　追加*/
input.tel {
	width: 40px;
}

input.add_zipcode {
	width: 40px;
}

.hyphen{
	margin-left: 2px;
	margin-right: 2px;
}

dl dd > input[type="text"],
dl dd > input[type="date"],
dl dd > input[type="password"] {
	height: 22px;
	padding: 0;
	font-size: 15px;
	margin-top: 2px;
}

dl dd.radios {
	line-height: 34px;
}

.buttons {
	width: 780px;
	margin: 52px auto 0;
}

.ui-datepicker .ui-datepicker-title select {
    font-size: 15px;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
	width: 40%;
}

@media screen and ( max-width:479px ) {
	#form {
		width: 100%;
	}

	.info {
		font-size: 1.0rem;
	}

	dl dt,
	dl dd {
		border: none;
	}

	dl dt {
		width: 80%;
		height: auto;
		font-size: 1.0rem;
		line-height: normal;
		color: #fff;
		background: #324b41;
		padding: 2% 0;
	}

	dl dd {
		width: 100%;
		height: auto;
		font-size: 1.3rem;
		line-height: normal!important;
		text-indent: 0;
		box-sizing:border-box;
		border: 1px solid #324b41;
		padding: 2% 0;
	}

	dl dd input[type="text"],
	dl dd input[type="password"] {
		margin-left: 2%;
	}

	dl dd > select {
		max-width: 100%;
		font-size: 1.0rem;
		margin-left: 2%;
	}

	.buttons {
		width: 100%;
		margin-top: 45px;
	}
}

.caution {
		font-size: 12px;
		color: #ff0000;
		margin-left: 4px;
	}